# Copy this file as  `application.properties` and fill in the values
spring.datasource.username=
spring.datasource.password=
spring.datasource.url=
API_URL=
JWT_SECRET=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EVENT_REMINDER_CRON_RATE=0 * * * * *
